* {
    margin: 0;
    padding: 0;
    /* text-align: center; 
    gave indiviual containers the code to align themselves */
    color: brown;
}

body{
    background-color: peachpuff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

button {
    /* All buttons */
    background-color: brown;
    border: none;
    color: white;
    padding: 6px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-weight: 400;
    font-size: 22px;
  }

.namefirst h1 { /* The Big Name */
    font-size: 116px;
    font-weight: 100;
    color: blue;
    margin-top: 40px;
    text-align: center;
}

.titlenext h2 { /* Subtitle area - IXD deets */
    font-weight: 400;
    color: brown;
    margin-bottom: 30px;
    margin-top: 30px;
    text-align: center;
}

.hiimg img { /* FOR IMAGE SECTION */
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; not needed it makes the elipse broader. */
}

.subt1 h2 { /* This is Button 1 line */
    color: brown;
    margin-top: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.subt2 h2 { /* This is Button 2 line */
    color: brown;
    margin-top: 8px;
    margin-right: 85px;
    margin-bottom: 40px;
    text-align: center;
}

.likinglist ol {
    /* List of stuff i like */
    text-align: left;
    margin-left: 520px;
}

.likinglist h3 {
    /* List of stuff I like */
    margin-left: 495px;
}

iframe {
    border: 1px solid black;
    border-radius: 10px;
}

.featuredtext h1 {
    /* I got featured once text */
    font-size: 54px;
    font-weight: 100;
    color: blue;
    margin-top: 10px;
    text-align: center;
}

.featuredtext i {
    /* Got featured once text secondary part */
    font-size: 54px;
    font-weight: 400;
    color: whitesmoke;
    margin-top: 10px;
    text-align: center;
}

.youtube iframe {
    border: 3px solid red;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

.musictitlebig h1 { 
    /* The text just before spotify iframes */
    font-size: 54px;
    font-weight: 100;
    color: blue;
    margin-top: 40px;
    text-align: center;
}

.musictitlebig b { 
    /* The text just before spotify iframes */
    font-size: 54px;
    font-weight: 400;
    color: whitesmoke;
    margin-top: 40px;
    text-align: center;
}

.music iframe {
    border: 3px solid green;
    -webkit-box-shadow: 0 10px 6px -6px #777;
       -moz-box-shadow: 0 10px 6px -6px #777;
            box-shadow: 0 10px 6px -6px #777;
}

img {
    border-radius: 50%;
}

.endtext p {
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
}
